/* ============== HEADER
*/
 
/* ============== NAV
*/ 



#vitazen{
    font-size: 22px;
} 

#equipo{
    font-size: 15px; 
}

#navbarsExample01 a {  
    
    font-size: 16px; 
    font-weight: bold; 
} 



/* ============== FOTOS DESLIZANTES
*/  

.carouselExampleCaptions {
 max-height: 60rem !important; 

 
}  







/* ============== QUIENES SOMOS Y COMO LO HACEMOS
*/    
#container{
  text-align: center;
}
   
#quienes-somos{
  background-color:rgb(233, 166, 233) ;
  color: #f3f3f3;
}

#sobre-nosotros{ 
  background-color:  rgb(221, 166, 175) ;
  color: #f3f3f3;
} 

/* ==============NUESTRAS PRESTACIONES
*/    

#container3{
  background-color: rgb(207, 247, 207); 
 
} 

/* ==============COMO LLEGAR
*/    
.mapa{ 
 background: url(mapa.png);
width: 90%;
height: 500px; 
margin: auto;

}

#local{
  background-color: rgb(252, 213, 142);
  padding-top: 20px;
  padding-bottom: 20px;
 display: flex; 
 justify-content: center;

} 

.wrapper{ 
  width: 50%;
  padding-left:100px ;
 padding-top: 150px;
}

/* ==============FOOTER
*/    
footer{
  background: rgb(71, 48, 48);
  min-height: 100px;

} 

footer p {
  color: #f3f3f3;
  text-align: center;

}

#iconos {
  font-size: 26px;
  padding: 0 8px;
  color: #f3f3f3;

}

#iconos i {
  color: #f3f3f3;
}



/* ============== MEDIA QUERES PANTALLA ANCHA
*/   
@media(max-width:1200px){
  #local{
    flex-wrap: wrap;
    padding-top: 30px;
  }

  .wrapper{
    width: 90%;
    margin: auto;
    padding-top: 50px;
  }
}

 


/* ============== MEDIA QUERES SMALL
*/   
@media(max-width:768px){
  #button{
    width: 10% !important;
  }
   
  .servicio-fila{
    width: 100% !important;
    text-align: center;
  }

}




