body{
    background-image: linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75)),
     url(pexels-shvets-production-7176319.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#main{
    padding-top: 25%;
}

#cover{
    padding-right: 30%;
}

.footer{
    padding-top: 100px;
}


