/* ============== MEDIA QUERES PANTALLA ANCHA
*/ 
@media(max-width:1200px){
    .carousel-indicators{
        display: none !important;
    }
}









/* ============== MEDIA QUERES SMALL
*/   

@media(max-width:768px){
    #imagencontexto{
        display: block !important;
    }
    #textoimagen{
        margin-bottom: 5px !important;
        padding-bottom: 5px!important;
    }

    #formulario{
        max-width: 100% !important;
    }

    #textofooter{
        
        margin-right: 0px !important;
        margin-left: 3px !important;
        
    } 

    #textocarousel{
        display:ruby-text-container !important;
    }

    #textocarousel .texto{
        display: none !important;
    }
    
    .carousel-indicators{
        display: none !important;
    } 

    
}