/* ============== MEDIA QUERES PANTALLA ANCHA
*/ 
@media(max-width:1200px){
    .carousel-indicators{
        display: none !important;
    }
}









/* ============== MEDIA QUERES SMALL
*/   

@media(max-width:768px){
    #imagencontexto{
        display: block !important;
    }
    #textoimagen{
        margin-bottom: 5px !important;
        padding-bottom: 5px!important;
    }

    #formulario{
        max-width: 100% !important;
    }

    #textofooter{
        
    padding-top: 0rem !important; 
    margin-right: 0px !important;
        margin-left: 40px !important;
        padding-left: 10px!important;
        
    } 

    #textocarousel{
        display:ruby-text-container !important;
        right: 0% !important;
        left: 0% !important;
        font-weight: 600 !important;
        
    }

    #textocarousel .texto{
        font-size: 10px !important; 
        
    } 
     
    

    #confbsas  {
        margin-right: 0rem !important;
        margin-left: 0rem !important ;
        padding-left: 0rem !important ;

        
    }

    #textoform1 {
        font-size: 9px !important;
        margin-bottom: 14px !important;
        font-weight: 470 !important;
    }
    
    .carousel-indicators{
        display: none !important;
    } 

    
}